@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@400;600;700&display=swap');

:root {
    --clr_primary: #1B2266;
    --clr_dark: #141414;
    --clr_dark_shade_a: #212121;
    --clr_secondary: #E0AC19;
    
    --clr_positive: #068453;
    --clr_negative: #DD3636;

    --mobile_primary: #0E1C6B;
    
    --clr_primary_shade_a: #2C2F6A;
    --clr_primary_shade_b: #4A5193;
    --clr_primary_shade_c: #7782BF;
    

    --clr_secondary_shade_a: #F4C142;
    --clr_secondary_shade_b: #FFDA88;
    --clr_secondary_shade_c: #FFEAC0;
    
    --clr_grey_shade_a: #444;
    --clr_grey_shade_b: #666;
    --clr_grey_shade_c: #999;
    --clr_grey_shade_d: #ccc;
    --clr_grey_shade_e: #ececec;
    --clr_grey_shade_f: #f7f7f7;
    

    /* Filter any black element */
    --filter_clr_primary: invert(13%) sepia(44%) saturate(985%) hue-rotate(203deg) brightness(98%) contrast(96%);
    --filter_clr_primary_shade_a: invert(16%) sepia(26%) saturate(3578%) hue-rotate(218deg) brightness(92%) contrast(91%);
    --filter_clr_primary_shade_b: invert(31%) sepia(45%) saturate(689%) hue-rotate(197deg) brightness(92%) contrast(90%);
    --filter_clr_primary_shade_c: invert(66%) sepia(8%) saturate(2184%) hue-rotate(194deg) brightness(78%) contrast(89%);

    --filter_clr_secondary: invert(86%) sepia(10%) saturate(6979%) hue-rotate(348deg) brightness(92%) contrast(90%);
    --filter_clr_secondary_shade_a: invert(89%) sepia(38%) saturate(2797%) hue-rotate(326deg) brightness(104%) contrast(91%);

    --filter_clr_positive: invert(35%) sepia(91%) saturate(714%) hue-rotate(116deg) brightness(87%) contrast(95%);
    --filter_clr_negative: invert(25%) sepia(84%) saturate(1826%) hue-rotate(339deg) brightness(98%) contrast(96%);

    --filter_clr_grey_shade_a: invert(19%) sepia(0%) saturate(0%) hue-rotate(160deg) brightness(135%) contrast(97%);
    --filter_clr_grey_shade_b: invert(45%) sepia(0%) saturate(975%) hue-rotate(212deg) brightness(86%) contrast(89%);
    --filter_clr_grey_shade_c: invert(74%) sepia(0%) saturate(1083%) hue-rotate(134deg) brightness(84%) contrast(84%);
    --filter_clr_grey_shade_d: invert(100%) sepia(0%) saturate(5592%) hue-rotate(334deg) brightness(117%) contrast(60%);
    --filter_clr_grey_shade_e: invert(97%) sepia(0%) saturate(2153%) hue-rotate(214deg) brightness(118%) contrast(85%);
    --filter_clr_grey_shade_f: invert(99%) sepia(79%) saturate(166%) hue-rotate(243deg) brightness(114%) contrast(94%);


    /* Shadows */
    --btn_shadow_primary: 0 2px 4px 2px rgba(0,0,0,.075);
    --btn_text_shadow_primary: 0px 0px .125rem rgba(0,0,0,.325);     

    --sidebar_width: 6.4em;
    --sidebar_expanded_width: auto;

    --mobile_nav_height: 3.5rem;
    --mobile_nav_width: 60vw;

    --nav_expand_transition_duration: 250ms ease-out;

    --font_head: 'Nunito Sans', sans-serif;
    --font_primary: 'Nunito Sans', sans-serif;

    --golden_ratio: 1.618;

    --page_padding_horizontal_desktop: 5%; 
    --page_padding_vertical_desktop: 5rem;
    --page_padding_horizontal_mobile: 1rem; 
    --page_padding_vertical_mobile: 1.5rem;

    /* Breakpoints */
    /* Using em unit due ot safari bugs */
    --bp-xsmall: 40em; /* 640px */
    --bp-small: 48em; /* 768px */
    --bp-medium: 64em; /* 1024px */
    --bp-large: 85.375em; /* 1366px */
    --bp-xlarge: 120em; /* 1920px */
    --bp-xxlarge: 160em; /* 2560px */
}

body.dark {
    --clr_positive: #0AE691;
    --clr_negative: #ff4d4d;

    --filter_clr_positive: invert(79%) sepia(12%) saturate(7381%) hue-rotate(100deg) brightness(96%) contrast(92%);
    --filter_clr_negative: invert(47%) sepia(93%) saturate(2604%) hue-rotate(329deg) brightness(105%) contrast(122%);
}

/* 


// Media Queries
$mq-xsmall: "(max-width: #{$bp-small})";
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})"; 

*/
